<div id="show">
<div class="task-show">
    <div class="main-title">
    <h1 class="task">Task</h1>
    </div>
     <div class="title">
      <p class="label">Title</p>
      <%= @task.title %>
     </div>
     <div class="content">
      <p class="label">Content</p>
      <%= simple_format(@task.content) %>
     </div>
     <div class="created_at">
      <p class="label">出題日</p>
      <%= @task.created_at.strftime("%Y/%-m/%-d") %>
     </div>
     <div class="audio">
        <% if @task.audio.present? %>
         <p class="label">音声</p>
          <%= audio_tag @task.audio, :controls => true  %>
        <% end %>
     </div>
     <div class="youtube">
        <% if @task.youtube.present? %>
          <p class="label">youtube</p>
            <div class="iframe-wrapper"">
              <iframe src="https://www.youtube.com/embed/<%= @url %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
    </div>
        <% end %>
     
     
     <div class="pdf">
        <% if @task.pdf.present? %>
            <p class="label">PDF</p>
            <iframe src="<%= @task.pdf %>" frameborder="0"></iframe>
        <% end %>
     </div>
</div>
</div>


