<div id="mydiary">
  <h2 class="my-profile">プロフィール</h2>

  <% if @user.image.present? %>
    <%= image_tag @user.image, class: "user-image" %>
  <% else %>
    <%= image_tag "/images/noimage.png", class: "user-image" %>
  <% end %>
  
  
  <p class="name">名前：<%= @user.first_name %><%= @user.last_name %></p>
  
  <% if @user.status == "a" %>
    <p class="status">ステータス：在学生</p>
  <% elsif @user.status == "g" %>
    <p class="status">ステータス：卒業生</p>
  <% else %>
   <p></p>
  <% end %>
  
  
  <!--<div class="post-light">-->
  <!--  < link_to "編集", edit_user_registration_path, class: "btn btn-outline-primary" %>-->
  <!--</div>-->
  
  
  <hr>
  
  
  <h2 class="my-diaries">日記</h2>
<div class="pagination">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

<div class="diary-container">
<% @diaries.each do |diary| %>
 <div class="media">
    <div class="media-images">
      <% if diary.images.present? %>
        <%= image_tag diary.images[0], class: "mr-3 diaries_image" %>
      <% else %>
        <%= image_tag "/images/noimage.png", class: "mr-3 diaries_image" %>
      <% end %>
    </div>
    <div class="media-body">
      <h5><%= link_to diary.title, "/users/#{diary.user_id}/diaries/#{diary.id}", class: "mt-0" %></h5>
      <%= diary.content.truncate(14) %>
    </div>
  </div>

<% end %>
</div>

    <div class="pagination">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
</div>
