<div id="new-diary" >
<div class="task_form">
    <h1>日記作成</h1>
    <div class="container">
        <%= form_for [@user, @diary] do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <div class="diary-new">
              <%= f.label :タイトル %><br />
              <%= f.text_field :title, class: "form-control" %><br />
            </div>
            <div class="diary-new">
              <%= f.label :日付 %><br />
              <%= f.date_field :day_of_diary, class: "form-control col-6" %><br />
            </div>
            <div class="diary-new">
              <%= f.label :　 %><br />
              <%= f.text_area :content, class: "form-control", :size=>"60x10" %><br />
            </div>
            <div class="diary-new">
              <%= f.label :画像 %><br />
              <%= f.file_field :images, multiple: true %><br />
            </div>
            <div class="diary-new">
              <%= f.label :動画 %><br />
              <%= f.file_field :video %><br />
            </div>            
            <div class="diary-new">
              <%= f.submit 'Go!!', class: "submit btn btn-primary" %>
            </div>
        <% end %>
    </div>
    </div>
    <div class="space">
        
    </div>
</div>

</div>