<div id="user-show">
<div class="image">
<% if @user.image.present? %>
    <%= image_tag @user.image, class: "user-image" %>
<% else %>
    <%= image_tag "/images/noimage.png", class: "user-image" %>
<% end %>
</div>

<div class="diaries">
<h3 class="name"><%= @user.last_name %>'s Diaries</h3>
</div>



<%= @diaries.each do |diary| %>
    <div class="media">
        <div class="media-images">
          <% if diary.images.present? %>
            <%= image_tag diary.images[0], class: "mr-3 diaries_image" %>
          <% else %>
            <%= image_tag "/images/noimage.png", class: "mr-3 diaries_image" %>
          <% end %>
        </div>
        <div class="media-body">
          <h5><%= link_to diary.title, "/users/#{diary.user_id}/diaries/#{diary.id}", class: "mt-0" %></h5>
          <%= diary.content.truncate(14) %>
        </div>
    </div>
<% end %>
</div>
